<div class="container">
  <div class="row">
    <div class="main col-md-9">
      <div class="row">
        <div class="text-center">
          <h1>Welcome JoeBloggs</h1>
        </div>
        <div class="text-center">
          <p>What would you like to do?</p>
        </div>
        <div class="text-center">
          <button class="btn btn-primary">Generate Meals</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="text-center">
          <h1>Shopping List
            <div class="pull-right">
              <button type="button" class="btn btn-success">Edit</button>
            </div>
          </h1>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="sidebar-nav-fixed pull-right affix">
        <div class="well">
          <ul class="list-group">
            <li class="nav-header">Schedule</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>