<div class="container body-content">
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <div class="row">
      <app-generation></app-generation>
    </div>
    <div class="row">
      <app-shopping-list></app-shopping-list>
    </div>
  </main>
</div>

<div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
          <h1>Schedule</h1>
        </ul>
        <ul class="nav nav-pills flex-column">
          <app-schedule></app-schedule>
        </ul>
      </nav>
    </div>
  </div>
  