<div class="container" *ngIf="userInfo">
  <div class="row">
    <div class="main col-md-9">
      <div class="row">
        <div class="text-center">
          <h1>Welcome {{ userInfo.UserName }}</h1>
        </div>
        <div class="text-center">
          <p>What would you like to do?</p>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" [routerLink]="['../generation']">Generate Meals</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="text-center">
          <h1>Shopping List
            <div class="pull-right">
              <button type="button" class="btn btn-success" [routerLink]="['../shoppinglist']">Edit</button>
            </div>
          </h1>
        </div>
        <ul class="list-group" *ngIf="userInfo.ShoppingList; else noShoppingList">
          <li class="list-group-item" *ngFor="let shoppingListItem of userInfo.ShoppingList">{{shoppingListItem.Ingredient}} ({{shoppingListItem.Quantity}})</li>
        </ul>
        <ng-template class="list-group" #noShoppingList>
          <li class="list-group-item">No Items found. Click Edit to add items to list</li>
        </ng-template>
      </div>
    </div>

    <div class="col-md-3">
      <div class="sidebar-nav-fixed pull-right affix">
        <div class="pull-right">
          <button type="button" class="btn btn-success" [routerLink]="['../schedule']">Edit</button>
        </div>
        <div class="well">
          <ul class="list-group">
            <li class="nav-header">Schedule</li>
            <div class="pull-right">
              <button type="button" class="btn btn-success" [routerLink]="['../schedule']">Edit</button>
            </div>
            <div *ngIf="userInfo.ShoppingList; else noSchedule">
              <li class="list-group-item" *ngFor="let scheduleItem of userInfo.Schedule" (click)="MoveToDetails(scheduleItem)">{{scheduleItem.Meal}} ({{scheduleItem.Date | date: 'dd/MM/yyyy GGGG'}})</li>
            </div>
            <ng-template class="list-group" #noSchedule>
              <li class="list-group-item">No Schedule found. Click Generate Meals to add items to Schedule</li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>