<div *ngIf="CheckVisibility()">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <h2>{{recipe.title}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Time: {{recipe.readyInMinutes}} minutes</p>
        </div>
        <div class="col">
            <p>Serves: {{recipe.servings}}</p>
          </div>
        <div class="col">
          <h3>Ingredients</h3>
          <li *ngFor="let ingredient of recipe.extendedIngredients">{{ingredient.name}} - {{ingredient.amount}} {{ingredient.unitLong}}</li>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img [src]="recipe.image" class="img-thumbnail">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <div class="col">
    <h3>Instructions</h3>
    <li *ngFor="let step of recipe.analyzedInstructions[0].steps">{{step.step}}</li>
  </div>
</div>