<div class="recipe row pointer" (click)="MoveToDetails()">
  <div class="col-xs-6">
    <img class="image" [src]="recipe.image" />
  </div>
  <div class="col-xs-6">
    <h2>{{recipe.title}}</h2>
    <p>Start to finish: {{recipe.readyInMinutes}} minutes</p>
    <img *ngIf="recipe.vegetarian" class="tinyicon" src="https://i.imgur.com/U40fpGR.png" title="Vegetarian">
    <img *ngIf="recipe.vegan" class="tinyicon" src="https://i.imgur.com/6vahoZN.png" title="Vegan">
    <img *ngIf="recipe.dairyFree" class="tinyicon" src="https://i.imgur.com/9wsbQhH.png" title="Dairy Free">
    <img *ngIf="recipe.glutenFree" class="tinyicon" src="https://i.imgur.com/ppyauzE.png" title="Gluten Free">
  </div>
</div>