<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h1>Shopping List</h1>
    </div>
  </div>

  <div class="list-group" *ngIf="userInfo">
    <li class="list-group-item clearfix" *ngFor="let shopping of userInfo.ShoppingList">{{shopping.Ingredient}} ({{shopping.Quantity}})
      <button type="button" id="Remove" class="btn btn-danger icon" (click)="RemoveItem(shopping.Ingredient)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" id="Remove" class="btn btn-primary icon" (click)="EditItem(shopping.Ingredient)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" id="Success" class="btn btn-success icon" (click)="MarkSuccess(shopping.Ingredient)">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </li>
    <li class="list-group-item clearfix">
      <input type="text" #NewItemName onclick="SeeHiddenDivs()" placeholder="Item Name">
      <input type="text" #NewQuantity onclick="SeeHiddenDivs()" placeholder="Quantity">
      <button type="button" id="NewRemove" class="btn btn-danger icon hidden">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" id="NewSuccess" class="btn btn-success icon hidden"  (click)="insertNewShoppingItem(NewItemName.value, NewQuantity.value)">
        <span class="glyphicon glyphicon-ok"></span>
      </button></li>
  </div>
</div>