/*
Colour scheme:
Green:#00E676
White:#FAFAFA
Blue:bootstrap primary blue buttons
*/
.header
{
    height:10%;
    background-color: #00E676;
    color: #FAFAFA;
    padding-top: 0.1%;
    top:0px;
    z-index: 1;
    width: 100%;
    display: inline-block;
}
html, body 
{  
    margin:0;
    padding:0;
    height: 100%;
}
.padded
{
    padding-left: 15%;
    padding-right: 15%;
}
body
{
    background-color: #FAFAFA;
}
.right
{
    float: right;
}
.header .row h1
{
    margin: 0px;
}
.image
{
    max-width:100%;
    max-height: 100%;
}
.recipe:before, .recipe:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.recipe:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.recipe
{
    display:flex;
    height:10em;
    overflow:hidden;
    margin-top:5px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}