/*
Colour scheme:
Green:#00E676
White:#FAFAFA
Blue:bootstrap primary blue buttons
*/
.header
{
    height:10%;
    background-color: #00E676;
    color: #FAFAFA;
    padding-top: 0.1%;
    top:0px;
    z-index: 1;
    width: 100%;
}
html, body 
{  
    margin:0;
    padding:0;
}
.padded
{
    padding-left: 10%;
    padding-right: 10%;
}
body
{
    background-color: #FAFAFA;
}