<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Schedule for: {{DateRangeStartString}} to {{DateRangeEndString}}</h3>
			<div class="btn-group btn-group-justified" role="group">
				<a type="button" class="btn btn-primary" (click)="Previous()">Previous Week</a>
				<a type="button" class="btn btn-primary" (click)="Now()">Go To This Week</a>
				<a type="button" class="btn btn-primary" (click)="Next()">Next Week</a>
			</div>
			<div class="row seven-cols">
				<div class="col-md-1 calendar">
					<h4>{{DateRangeStartString}}</h4>
					<div class="dropdown note" *ngFor="let meal of scheduleDay1">
						<p>{{meal.Meal}}</p>
					</div>
				</div>
				<div class="col-md-1 calendar">
					<h4>{{Day2String}}</h4>
					<div class="dropdown note" *ngFor="let meal of scheduleDay2">
						<p>{{meal.Meal}}</p>
					</div>
				</div>
				<div class="col-md-1 calendar">
					<h4>{{Day3String}}</h4>
					<div class="dropdown note" *ngFor="let meal of scheduleDay3">
						<p>{{meal.Meal}}</p>
					</div>
				</div>
				<div class="col-md-1 calendar">
					<h4>{{Day4String}}</h4>
					<div class="dropdown note" *ngFor="let meal of scheduleDay4">
						<p>{{meal.Meal}}</p>
					</div>
				</div>
				<div class="col-md-1 calendar">
					<h4>{{Day5String}}</h4>
					<div class="dropdown note" *ngFor="let meal of scheduleDay5">
						<p>{{meal.Meal}}</p>
					</div>
				</div>
				<div class="col-md-1 calendar">
					<h4>{{Day6String}}</h4>
					<div class="dropdown note" *ngFor="let meal of scheduleDay6">
						<p>{{meal.Meal}}</p>
					</div>
				</div>
				<div class="col-md-1 calendar">
					<h4>{{DateRangeEndString}}</h4>
					<div class="dropdown note" *ngFor="let meal of scheduleDay7">
						<p>{{meal.Meal}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>