<div class="middle" *ngIf="CheckVisibility()">
  <div class="row">
    <div class="col-md-4 middle">
      <button class="inline btn btn-primary right" (click)="Decrement()">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
    <div class="col-md-4 middle centred">
      <p>Meals generated: {{numGenerated}} of {{numWanted}}</p>
    </div>
    <div class="col-md-4 middle">
      <button class="inline btn btn-primary" (click)="Increment()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
  <app-recipe [recipe]=recipes[0]></app-recipe>
  <button class="btn btn-danger btn-lg huge" (click)="RemoveRecipe()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <button class="btn btn-success right btn-lg huge" (click)="AddRecipe()">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</div>
<div id="myModal" class="modal">
  <div class="modal-content centred">
    <div class="form-group vertcentre">
      <h1>How many days would you like to plan for?</h1>
      <br/>
      <input type="number" class="form-control" id="numDays" [(ngModel)]="numWanted" />
      <br/>
      <button type="submit" class="btn btn-block btn-primary" onclick="closeModal()">OK</button>
    </div>
  </div>
</div>
<div class="middle centred" *ngIf="!CheckVisibility()">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>