<div class="middle" *ngIf="CheckVisibility()">
  <button class="btn btn-primary" (click)="Decrement()">
      <span class="glyphicon glyphicon-minus"></span>
  </button>
  <button class="btn btn-primary right" (click)="Increment()">
      <span class="glyphicon glyphicon-plus"></span>
  </button>
  <p class="centred">Generated: {{numGenerated}} of {{numWanted}}</p>
  <app-recipe [recipe]=recipes[0]></app-recipe>
  <button class="btn btn-danger btn-lg huge" (click)="RemoveRecipe()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <button class="btn btn-success right btn-lg huge" (click)="AddRecipe()">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="form-group">
      <h1>How many days would you like to plan for?</h1>
      <input type="number" class="form-control" id="numDays" [(ngModel)]="numWanted" />
    </div>
    <button type="submit" class="btn btn-primary" onclick="closeModal()">OK</button>
  </div>
</div>
<div class="middle centred" *ngIf="!CheckVisibility()">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>