<div class="padded" *ngIf="!login">
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" [(ngModel)]="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="contentexpanded">
    <div class="form-group">
      <label for="ConfirmEmail">Confirm email address</label>
      <input type="email" [(ngModel)]="emailConfirm" class="form-control" id="ConfirmEmail" aria-describedby="emailHelp" placeholder="Confirm email">
    </div>
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" [(ngModel)]="password" class="form-control" id="Password" placeholder="Password">
  </div>
  <div class="contentexpanded">
    <div class="form-group">
      <label for="ConfirmPassword">Confirm Password</label>
      <input type="password" [(ngModel)]="passwordConfirm" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
    </div>
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" [(ngModel)]="Username" class="form-control" id="Username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="Search">Allergies and dislikes
        <small>(optional)</small>
      </label>
      <small id="allergies" class="form-text text-muted">So far:
        <span *ngFor="let ban of bannedIngredients">{{ban}} </span>
      </small>
      <input type="text" [(ngModel)]="test" (input)="getAutocomplete()" placeholder="Search ingredients..." class="input form-control">  
      <div class="dropdown" *ngIf="checkLength()">
        <div class="hoverable" *ngFor="let ingredient of ingredients">
          <a type="button" class="btn inline right btn-primary btn-xs" (click)="AddIngredient(ingredient.name)">Add</a>
          <p>{{ingredient?.name}}</p>
        </div>
      </div>
    </div>
    <div class="btn-group btn-group-justified" role="group">
      <a type="button" class="btn btn-primary" onclick="Expand()">Login?</a>
      <a type="button" class="btn btn-primary" (click)="Signup()">Create Account</a>
    </div>
  </div>
  <div class="btn-group btn-group-justified contentvisible" role="group">
    <a type="button" class="btn btn-primary" onclick="Expand()">No Account?</a>
    <a type="button" class="btn btn-primary" (click)="Login()">Log In</a>
  </div>
</div>
<div *ngIf="login">
  <h1>Are you sure you're meant to be here? Were you trying to log out?</h1>
</div>