<div class="list-group" *ngIf="userInfo">
  <div *ngFor="let shopping of userInfo.ShoppingList; let i = index">
    <li [style.text-decoration]="CheckedMarked(shopping.Done)" [id]="i" class="list-group-item clearfix" *ngIf="boolArray[i]; else EditShoppingListItem">{{shopping.Ingredient}} ({{shopping.Quantity}})
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Options
      </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
        <button type="button" id="Remove" class="btn btn-danger icon" (click)="RemoveItem(i)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button" id="Remove" class="btn btn-primary icon" (click)="EditItem(i, shopping.Ingredient, shopping.Quantity)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button" id="Success" class="btn btn-success icon" (click)="MarkSuccess(i)">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>
    </li>
  </div>
  <li class="list-group-item clearfix">
    <input type="text" #NewItemName onclick="SeeHiddenDivs()" placeholder="Item Name">
    <input type="text" #NewQuantity onclick="SeeHiddenDivs()" placeholder="Quantity">
    <button type="button" id="NewRemove" class="btn btn-danger icon hidden">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button type="button" id="NewSuccess" class="btn btn-success icon hidden" (click)="InsertNewShoppingItem(NewItemName.value, NewQuantity.value)">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  </li>
</div>

<ng-template class="list-group" #EditShoppingListItem>
  <li [id]="index" class="list-group-item clearfix">
    <input #ItemName [value]="itemName" type="text" placeholder="Item Name">
    <input #Quantity [value]="quantity" type="text" placeholder="Quantity">
    <button type="button" id="NewRemove" class="btn btn-danger icon" (click)="Cancel()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button type="button" id="NewSuccess" class="btn btn-success icon" (click)="UpdateItem(ItemName.value, Quantity.value)">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  </li>
</ng-template>
